# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db
